APP_NAME=Lectorium
DEBUG=true

SECRET_KEY=replace_with_a_long_random_secret

DB_USER=lectorium
DB_PASSWORD=lectorium_password
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=lectorium

VIDEO_DIR=video

SESSION_COOKIE_NAME=lectorium_session
SESSION_TTL_DAYS=7
COOKIE_SECURE=false

MAX_VIDEO_SIZE_MB=2048